html,body
    background-color: #aaa

#app
    width: 960px
    margin: auto


.top
    padding: 50px 10px
    background-color:  #424242
    display: flex
    font-weight: 500
    .headerImg
        text-align: center
        width: 300px
        img
            width: 120px
            height: 120px
    .textArea
        display: flex
        flex-direction: column
        align-items: center
        width: 300px
        .span
            letter-spacing: 2px
            font-family: 微軟正黑體
            padding: 5px 0px
            font-size: 16px
            color: #FFD366
        input
            padding: 5px
            width: 150px
            border: solid 1px #FFD366
            border-radius: 25px
            color: #fff
            font-family: 微軟正黑體
            background-color: rgba(255,255,255,0.18)
            outline: none
            &::placeholder
                color: rgba(255,255,255,0.5)
        // 取消 input(type='number') 上下箭頭
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button 
            -webkit-appearance: none !important;
            margin: 0;
        
            
    .sentBtn
        text-align: center
        width: 300px
        .sendBmibtn
            width: 120px
            height: 120px
            border-radius: 50%
            outline: none
    
        

       


section.content
    background-color: #E8E8E8
    text-align: center
    font-family: 微軟正黑體
    font-size: 24px
    padding: 50px 0px
    .title
        padding: 10px 0px 25px
    ul 
        list-style: none
        padding: 10px 0
        .datalist
            background-color: #fff
            margin: 20px auto
            display: flex
            padding: 10px 15px
            width: 600px
            height: 40px
            font-size: 12px
            align-items: center
            position: relative
            font-weight: 500
            .status
                width: 200px    
                font-size: 20px
                text-align: left
            .listText
                padding-left: 10px
            p 
                padding: 0 3px
            span.content 
                font-size: 20px
            .del
                position: absolute
                right: 10px
                padding: 2px
                width: 50px
                height: 30px
                border: none
                border-radius: 5px
                background-color: #FFD366
                color: #424242
                font-weight: 600
                outline: none
                cursor: pointer
                &:hover
                    background-color: darken(#FFD366,10)

footer
    display: flex
    background-color: #FFD366
    .footerBmiimg
        padding: 30px 0
        margin: auto
        display: block
    img 
        width: 65px
        height: 65px
        